

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
  }
  
  .slideshow-container img {
    width: 100%;
    height: auto;
  }
  
  .controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
  }

  .controls > p {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85); 
   min-width: 400px; 
   padding: 10px 50px; 
   font-family: 'Avenir', 'Public Sans'; 
   font-size: 1.2rem;
   font-weight: 600;
   border-radius: 5px;
    
  }

  .controlbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .controls button {
    margin-bottom: 10px;
    cursor: pointer;
    color: #594A45;
    background-color: rgba(255, 255, 255, 0.8); 
    border: none; 
    padding: 5px 10px; 
    font-family: 'Avenir', 'Public Sans'; 
    font-size: 1rem;
    border-radius: 2px;
    font-weight: 700;
  }
  
  #pauseresumebtn {
    margin-left: 15%;
    margin-right: 15%;

  }
  