.about-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .about-content {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
  }
  
 .about-content h1, h2 {
    margin-bottom: 15px;
    line-height: 160%;
  }

  .about-content > h1 {
    color: #5A4B46; 
    border-bottom: solid 3px #F2D16D;
    font-size: 2rem;
    font-family: 'Avenir', 'Public Sans'
  }


  .about-content > h2 {
    color: #5A4B46; 
    font-size: 1.5rem;
    font-family: 'Avenir', 'Public Sans'
  }

  .about-content > p {
    margin-bottom: 5%; 
    font-size: 1.1rem; 
    line-height: 170%;

  }

  .about-info-section{
    padding-top: 2%; 
    padding-bottom: 2%; 
    padding-left: 3%; 
    padding-right: 3%; 
    border-radius: 15px;
    line-height: 150%;
  }

  .about-info-section > ul {
    list-style-type: none;
  }

  .about-info-section li {
    line-height: 225%;
  }

  .about-info-section:nth-child(odd) {
    background-color: rgba(243, 209, 109, 0.05);
    padding-top: 1%;
    padding-bottom: 1%;
  }
